<!DOCTYPE html>
<html ng-app="pokemon">
<head>
	<title>POKEDEX</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/ngStorage.min.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
</head>
<body ng-controller="pokemonController" ng-init="loadData()" ng-class="{'disableContent':nowLoad}">
	<h1>POKEDEX</h1>
	<div id="nowLoad" ng-if="nowLoad"><span class="spinner"></span></div>
	<div>
		<ul class="pager" >
		    <li><a ng-click="loadData(offset-24)" style="cursor: pointer;"><<</a></li>
		    <li><a ng-click="loadData(offset+24)" style="cursor: pointer;">>></a></li>
		</ul>
		
		<div class="col-xs-10">
			<div class="col-xs-6 col-sm-3 itemBody" ng-focus="focusItem(item)" tabindex="0" ng-repeat="item in dataPokemons">
				<div class="itemImg">
					<img ng-src="img/items/{{item.national_id}}.png">
				</div>
				<div class="itemName">{{item.name}}</div>
				<div class="icon">
					<div class="icon-left">
						<span ng-repeat="types in item.types" class="icon-types-pokemons {{types.name}}"></span>
					</div>
					<div class="icon-right">
						<a ng-click="likeItemFunc(item)"><i class="glyphicon glyphicon-{{1==readlikeItemArr(item) ? 'heart': 'heart-empty'}}"></i></a>
					</div>
				</div>
			</div>
		</div>
			
		<div class="col-xs-2">
			<div class="col-sm-3 itemBody" ng-if="focusedItem">
				<div class="itemImg">
					<img ng-src="img/items/{{focusedItem.national_id}}.png">
				</div>
				<div class="itemName">{{focusedItem.name}}</div>
				<div class="icon">
					<div class="icon-left">
						<span ng-repeat="types in focusedItem.types" class="icon-types-pokemons {{types.name}}"></span>
					</div>
					<div class="icon-right">
						<a ng-click="likeItemFunc(focusedItem)"><i class="glyphicon glyphicon-{{1==readlikeItemArr(focusedItem) ? 'heart': 'heart-empty'}}"></i></a>
					</div>
				</div>
				<table class="table table-hover">
					<tr><td class="text-left">Type</td><td class="text-right">{{focusedItem.types[0].name}}</td></tr>
					<tr><td class="text-left">Attack</td><td class="text-right">{{focusedItem.attack}}</td></tr>
					<tr><td class="text-left">Defense</td><td class="text-right">{{focusedItem.defense}}</td></tr>
					<tr><td class="text-left">HP</td><td class="text-right">{{focusedItem.hp}}</td></tr>
					<tr><td class="text-left">SP Attack</td><td class="text-right">{{focusedItem.sp_atk}}</td></tr>
					<tr><td class="text-left">SP Defense</td><td class="text-right">{{focusedItem.sp_def}}</td></tr>
					<tr><td class="text-left">Speed</td><td class="text-right">{{focusedItem.speed}}</td></tr>
					<tr><td class="text-left">Weight</td><td class="text-right">{{focusedItem.weight}}</td></tr>
					<tr><td class="text-left">Total moves</td><td class="text-right">{{focusedItem.speed}}</td></tr>
				</table>
			</div>
		</div>
	</div>
</body>
</html>